{
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6": true,
        "jest": true,
        "serviceworker": true
    },
    "extends": [
        "react-app",
        "eslint:recommended"
    ],
    "rules": {
        "no-console": "error",
        "complexity": ["warn", 9],
        "consistent-return": "warn",
        "curly": "error",
        "default-case": "error",
        "dot-location": ["warn", "property"],
        "dot-notation": "warn",
        "eqeqeq": "error",
        "no-alert": "error",
        "no-caller": "error",
        "no-else-return": "warn",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-floating-decimal": "warn",
        "no-implicit-coercion": "warn",
        "no-implied-eval": "error",
        "no-iterator": "error",
        "no-labels": "error",
        "no-lone-blocks": "error",
        "no-loop-func": "error",
        "no-magic-numbers": ["warn", { "ignore": [-1, 0, 1, 2, 10, 100, 1000, 7, 24, 60, 3600, 365, 30]}],
        "no-multi-spaces": "warn",
        "no-multi-str": "error",
        "no-new-func": "warn",
        "no-new-wrappers": "error",
        "no-new": "error",
        "no-octal-escape": "error",
        "no-process-env": "warn",
        "no-proto": "error",
        "no-return-assign": "error",
        "no-script-url": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "prefer-promise-reject-errors": ["error", { "allowEmptyReject": true }],
        "no-throw-literal": "error",
        "no-unused-expressions": ["warn", { "allowShortCircuit": true, "allowTernary": true }],
        "no-useless-call": "error",
        "no-useless-concat": "warn",
        "no-void": "error",
        "no-warning-comments": ["warn", { "terms": ["todo", "fix"], "location": "anywhere" }],
        "radix": "error",
        "vars-on-top": "warn",
        "wrap-iife": "warn",
        "yoda": "warn"
    }
}